{% block content %}
<div class="container-fluid" >
<h3 style = "text-align.center" ; >Search_list</h3>
<table width = 100% border = 1 ></table>
{% for i in m1 %}
Movie = {{i.title}} Director = {{i.director}} Year = {{i.year}}
{% endfor %} <br>

{% for i in m2 %}
Audio = {{i.titile}} Movie = {{i.Movie.title}} Director = {{i.Movie.director}}
{% endfor %} <br>

{% for i in m3 %}
Video = {{i.title}} Movie = {{i.Movie.title}} Director = {{i.Movie.director}}
{% endfor %} <br>
</div>
{% endblock %}

