{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" >
        <h3 style = "text-align.center" ;>All Video Songs List</h3>
        <table width = 100% border = 1 >

                {% for i in vlist %}

                <tr>
                        <td width = 50%>
                                Movie = {{i.Movie.title}} <br>
                                Director = {{i.Movie.director}} <br>
                                Year of release = {{i.Movie.year}} <br>
                                <img src = "{{i.movie.photo.url}}" width = 200 height = 200 />
                        </td>

                        <td width = 50%>
                                Title = {{i.title}} <br>
                                Genre = {% if i.genre == 'H' %} Happy
                                {% elif i.genre == 'D' %} Devotional
                                {% elif i.genre == 'S' %} Sad
                                {% elif i.genre == 'C' %} Classic
                                {% else %} Melody
                                {% endif %} <br>
                                <! code for playing or downloading the video >
                                <div style = "text-align:center">
                                        <video controls width=300 height=200>
                                                <source src = "/media/{{i.song}}"/>
                                        </video>
                                        <a href = "/media/{{i.song}}" download> <br>
                                                <button> Download video </button>
                                        </a>
                                </div>
                        </td>
                </tr>

                {% endfor %}

        </table>
</div>

{% endblock %}